# Cacher les fichiers de données sensibles
logged/credentials.txt
*.log

# Pycache et fichiers temporaires
__pycache__/
*.py[cod]

# Environnements virtuels
venv/
.env/

# Fichiers système
.DS_Store

